{:deps
 {hiteshjasani/clj-fdb {:git/url "https://github.com/hiteshjasani/clj-fdb"
                        :sha "1f69383eb9977b262056f65cda8e9644dcf45da2"}
  fdb {:local/root "../../lib/fdb-java-5.1.7.jar"}}}
