{:deps
 {hiteshjasani/clj-fdb {:git/url "https://github.com/hiteshjasani/clj-fdb"
                        :sha "99bc4499339c71802e8bbb82a848a2b14a292f94"}
  fdb {:local/root "../../lib/fdb-java-5.1.7.jar"}
  functionalbytes/mount-lite {:mvn/version "2.1.1"}
  }}
